<div class="form-container">
  <app-form-header></app-form-header>

  <div class="form-content">
    <div>
      <app-image-upload
        [currentImage]="userData.imagen"
        [showValidation]="showImageValidation"
        (imageChange)="onImageChange($event)"
      ></app-image-upload>
    </div>
    <div>
      <app-user-info
        [userData]="userData"
        [showValidationError]="showImageValidation"
        (formDataChange)="onFormDataChange($event)"
        (submitForm)="onSubmit()"
      ></app-user-info>
    </div>
  </div>
</div>

<app-loading
  [show]="showLoading"
  (loadingComplete)="onLoadingComplete()">
</app-loading>
